footer
  .content
    a.email(
      href!="<? setLink($config['email'], 'email') ?>"
      title!="<?= $config['email'] ?>"
    )
      svg.email-icon
        use(xlink:href="#email")
      span!="<?= $config['email'] ?>"