$white          = #ffffff
$black          = #1d1d1d
$perfume        = #baa2f8
$medium_purple  = #8c6ae5
$trendy_pink    = #7d5c95
$salt_box       = #5e5361
$london_hue     = #B09CBE

$site-background-color = $white
$modal-background = $white
$block-background-color = $trendy_pink
$menu-color = $white
$text-dark-color = $salt_box
$text-light-color = $white
$text-primary-color = $medium_purple
$text-heading-color = $perfume
$email_color = $london_hue
$modal-$border-color = $black