$white          = #ffffff
$perfume        = #baa2f8
$medium_purple  = #8c6ae5
$trendy_pink    = #7d5c95
$salt_box       = #5e5361

$site-background-color = $white
$block-background-color = $trendy_pink
$menu-color = $white
$text-dark-color = $salt_box
$text-light-color = $white
$text-primary-color = $medium_purple