$site-min-width = 320px
$site-max-width = 1440px
$block-padding = 20px
$large-padding = 120px

$site-tablet-width = 1210px
$site-mobile-width = 680px
$menu-size = 400px


$object-title-width = 490px
$object-description-width = 420px