@import '../../node_modules/kouto-swiss'
ks-support-ie = 8
meyer-reset()

@import './variables'
@import './debug'
@import './assets/common'
@import './blocks/menu'
@import './blocks/header'
@import './blocks/advantages'
@import './blocks/about'
@import './blocks/services'
@import './blocks/phone'
@import './blocks/process'
@import './blocks/faq'
@import './blocks/contacts'
@import './blocks/footer'
@import './blocks/modals'