@import '../../node_modules/kouto-swiss'
ks-support-ie = 8
meyer-reset()

@import './variables'
@import './debug'
@import './assets/common'
@import './blocks/menu'
@import './blocks/header'
@import './blocks/main'
@import './blocks/kids'
@import './blocks/temples'
@import './blocks/objects'
@import './blocks/founders'
@import './blocks/footer'
@import './blocks/modals'