$site-min-width = 320px
$site-max-width = 960px
$site-tablet-width = 980px
$block-padding = 20px

$background-color = #fafafa
$nav-background-color = #fafafa
$logo-title-color = #00487d
$logo-subtitle-color = #000000
$link-color = #00487d
$menu-link-color = #00487d
$menu-active-color = #0082d6

$header-title-color = #999999
$header-text-color = #666666
$title-color = #000000
$advantages-title-color = #333333
$advantages-text-color = #666666
$advantages-icon-color = #ffffff
$advantages-economy-color = #52C7AA
$advantages-time-color = #00C3DD
$advantages-in_touch-color = #0083DA
$advantages-control-color = #4F6071
$advantages-professionals-color = #00C3DD
$advantages-manufacturability-color = #52C7AA
$advantages-confidentiality-color = #4F6071
$advantages-tariffs-color = #0083DA

$button-secondary-color = #ffffff
$button-primary-color = #0082d6

$about-background = #52c7aa

$about-color = #ffffff

$services-background-color = #ffffff
$services-title-color = #993300
$services-text-color = #666666
$services-border-color = #dcdcdc

$phone-background-color = #0082d6
$phone-text-color = #ffffff
$phone-link-color = #c6e5f8

$dotted-color = #828282

$step1-background-color = #ffffff
$step2-background-color = #d9dbde
$step3-background-color = #bee4ee
$step4-background-color = #e2f0ea

$contacts-form-background = #1764a8

$modal-background = #f7f7f7
$callback-primary-color = #ffffff
$callback-secondary-color = #f8c100
$callback-hover-color = #e2b000

$close-color = #1a66a9
$pluse-color = #e6e6e6