.advantages
  .title
    padding-top 78px
    margin-bottom 42px
    font-size 30px
    font-weight 400
    letter-spacing 0.1px
    color $title-color
.advantages-list
  width 100%
  font-size 0
  text-align center
.advantages-item
  relative false
  display inline-block
  vertical-align top
  text-align left
  min-height 160px
  padding 0 20px 0 120px
  box-sizing border-box
  width 50%
  +media-query(all, max-width 800px)
    width 100%
    min-height 100px
  +media-query(all, max-width 480px)
    padding 0 20px 0 80px
  &.economy
    .icon
      &:before
        border-left-color $advantages-economy-color
  &.time
    .icon
      &:before
        border-left-color $advantages-time-color
      svg
        top 3px
  &.in_touch
    .icon
      &:before
        border-left-color $advantages-in_touch-color
      svg
        width 22px
  &.control
    .icon
      &:before
        border-left-color $advantages-control-color
      svg
        left 3px
        width 26px
  &.professionals
    .icon
      &:before
        border-left-color $advantages-professionals-color
      svg
        width 26px
  &.manufacturability
    .icon
      &:before
        border-left-color $advantages-manufacturability-color
  &.confidentiality
    .icon
      &:before
        border-left-color $advantages-confidentiality-color
      svg
        left 2px
        width 23px
  &.tariffs
    .icon
      &:before
        border-left-color $advantages-tariffs-color
      svg
        left 2px
  .icon
    absolute 0 false false 50px
    size 44px 50px
    +media-query(all, max-width 480px)
      absolute 0 false false 20px
    &:before
      content ''
      size 0px
      display block
      border 25px solid transparent
      border-left-width 45px
    svg
      absolute 0 false 0 4px
      margin auto
      fill $advantages-icon-color
      size 21px
  .title
    margin-bottom 11px
    font-size 18px
    line-height 18px
    color $advantages-title-color
  .text
    color $advantages-text-color
    font-size 18px
    line-height 22px