.contacts
  relative false
  padding-top 86px
  .geo
    display none
  .content
    absolute 86px 0 0
    pointer-events none
  .form-block
    width 240px
    display table
    padding 20px
    box-sizing border-box
    absolute 0 0 0 false
    margin auto
    color $button-secondary-color
    background-color $contacts-form-background
    pointer-events all
  .title
    margin-bottom 20px
    font-size 18px
    font-weight 700
  .text
    text-align center
    font-size 14px
    line-height 16px
  .button
    line-height 40px
    margin-bottom 25px
#map
  size 100% 540px
