.faq
  .content
    padding-top 82px
    padding-bottom 14px
    text-align center
  .title
    margin-bottom 15px
    font-size 30px
    font-weight 400
  .subtitle
    font-size 19px
    color $advantages-title-color
  .faq-list
    padding 48px 0 14px
    text-align left
    line-height 22px
  .faq-item
    relative false
    padding 20px 100px 5px 0
    border-top 1px solid $services-border-color
    font-size 18px
    cursor pointer
    transition all 0.2s linear
    +media-query(all, max-width 885px)
      padding 20px 50px 5px 0
    &.closed
      .answer
        max-height 0
        transform rotateX(-90deg)
    &.opened
      .answer
        padding-bottom 15px
        transform rotateX(0deg)
        max-height 340px
      .icon
        transform rotate(-45deg)
        fill $close-color
    .icon
      size 36px
      absolute 12px 0 false false
      fill $pluse-color
      transition all 0.2s linear


  .question
    font-weight 400
    color $advantages-title-color
  .answer
    transform-origin 0 0 0
    padding-top 15px
    padding-bottom 0
    box-sizing border-box
    overflow hidden
    color $advantages-text-color
    transition all 0.2s linear