footer
  //.content
  //  padding-top 50px
  //  padding-bottom 50px
  .content-block
    size 100%
    display table
    margin auto
    min-height 180px
    +media-query(all, max-width 850px)
      width auto
  .footer-block
    display table-cell
    vertical-align middle
    padding 20px
    +media-query(all, max-width 850px)
      display block
      margin auto
      text-align center
  .work-time-block
    padding-bottom 25px
    +media-query(all, max-width 850px)
      padding 0 20px
  .phone-link
    font-size 24px
    font-weight 400
    line-height 45px
    color $title-color
  .work-time
    font-size 15px
    color $title-color
  .logo-block
    width 240px
    +media-query(all, max-width 850px)
      width 200px
  .adress-block
    width 200px
    line-height 20px