footer
  .content
    padding 70px 20px 65px $large-padding
.email
  font-size 1rem
  color $text-dark-color
  text-decoration none
  white-space nowrap
  &-icon
  span
    display inline-block
    vertical-align middle
  &-icon
    size 25px 15px
    fill $email_color