.founders
  padding 28px $large-padding 0

  .text
    font-size 1.2rem
    line-height 1.7rem
    margin-bottom 2.5rem
  +media-query(all, max-width $site-tablet-width)
    width 100%
    max-width 830px
    margin auto
    padding-left 2rem
    padding-right 2rem

    .heading
      text-align center


.founder
  display table
  &-image
  &-text
    display table-cell
    vertical-align middle
  &-image
    size 215px
  &-text
    padding-left 25px
  &-name
    font-weight 800
    font-size 1.5rem
    line-height 2rem
    margin-bottom 1rem
  &-description
    line-height 1.5rem
  +media-query(all, max-width $site-tablet-width)
    width 255px
    margin auto
    display block
    &-image
    &-text
      display block
      text-align center
      padding 0
    img
      margin auto