main
  padding 0 0 72px
  retina-image("/images/main-background.jpg", 1440px 755px, '@2x')
  background-size 100% auto
  background-position 50% 100%
  background-repeat no-repeat
  section
    max-width $site-max-width
    box-sizing border-box
    margin-left auto
    margin-right auto