$transition = all 0.2s linear
.menu-panel
  width 100%
  fixed 0 0 false
  z-index 100
  border-bottom 1px solid #ccc
  background-color $nav-background-color
  .javascript &
    +media-query(all, min-width $site-tablet-width)
      padding-top 24px
      &.transparent
        background-color transparent
        border 0 none

  &.animate
    transition background-color 0.2s linear
  .content-block
    display table
    width 100%
    max-width $site-max-width
    min-width $site-min-width
    padding 10px 20px
    margin auto
    .logo
      +media-query(all, max-width 550px)
        float left
  #menu
    absolute -100% -100% false false
    display none
    +media-query(all, max-width $site-tablet-width)
      &:checked
        ~ .menu-toggle-container
          .menu-toggle
            transform scale(1) rotate(-45deg)
            transition all 0.2s linear 0.2s

          .menu-title
            display none
        ~ .menu
        ~ .language-switcher
            transform scale(1) translate(-36px, -13px)
            max-width 210px
            pointer-events auto
            transition all 0.2s linear
            .menu-item
              margin-top 10px
              transition all 0.2s linear
            .menu-link
              max-width 210px
              max-height 20px
              letter-spacing 0
              transition all 0.2s linear
              &:before
                opacity 0
                transition all 0.2s linear

  .menu-toggle-container
    size 36px
    absolute 15px 0 false false
    display none
    cursor pointer
    +media-query(all, max-width $site-tablet-width)
      display block
  .menu-title
  .menu-toggle
    display block
    size 100%
    border-radius 50%
  .menu-title
    absolute 0
  .menu-toggle
    transform scale(0) rotate(-45deg)
    transition all 0.2s linear
    fill $close-color
  nav
    relative false
    display table-cell
    vertical-align middle
    +media-query(all, max-width 550px)
      float right
    +media-query(all, max-width $site-tablet-width)
      padding-top 15px
      padding-left 40px
      margin-top 7px
      .menu
      .language-switcher
        pointer-events none
        max-width 36px
        display block
        margin-left auto
        transition all 0.2s linear 0.2s
        .menu-link
          padding 0
          relative false
          display block
          white-space nowrap
          overflow hidden
          max-width 36px
          max-height 3px
          &:before
            content ''
            absolute 0
            size 100%
            background-color #1a66a9
            opacity 1
            transition all 0.2s linear 0.2s
      .language-switcher
        width 100%
        .menu-item:nth-of-type(1)
          min-width 36px
          margin-top -12px
        .menu-link
          .short
            display none
          .full
            display block
      .menu-item
        display table
        transition all 0.2s linear 0.2s
        &:nth-of-type(1)
        &:nth-of-type(3)
        &:nth-of-type(5)
          margin-top -3px
        &:nth-of-type(2)
        &:nth-of-type(4)
          margin-top -12px
      .menu-link
        text-transform uppercase
        letter-spacing -4px
        transition all 0.2s linear 0.2s
  .menu
  .language-switcher
    display table-cell
    vertical-align middle
  .menu
    width 100%
    text-align right
  .menu-item
    display inline-block
  .menu-link
    padding 9px
    font-size 16px
    font-weight 400
    color $menu-link-color
    transition all 0.2s linear
    &.active
      color $menu-active-color
  .language-switcher
    .menu-link
      padding-left 20px
      padding-right 0
      .full
        display none