.callback-button
  display none
  size 70px 78px
  fixed false 50% 50px false
  z-index 999
  margin-right -550px
  cursor pointer
  transition all 0.2 linear
  +media-query(all, max-width 1120px)
    margin-right 0
    right 0
  &:hover
    .hexagon-icon
      fill $callback-hover-color
  .javascript &
    display block

  .phone-icon
    absolute 0
    margin auto
    size 36px
    fill $callback-primary-color
  .hexagon-icon
    fill $callback-secondary-color
    stroke $callback-primary-color
    stroke-width 7px
    transition all 0.2s linear

.modal-shadow
  display none
  size 100%
  min-width $site-min-width
  fixed 0
  z-index 1000
  background-color rgba(0, 0, 0, 0.7)
  &.show
    display block
  &.callback
    .modal
      retina-image("/images/modal/callback.png", 260px 146px, '@2x')
      background-position right 461px top 0
    .callback
      display block
  &.request
    .modal
      retina-image("/images/modal/request.png", 240px 170px, '@2x')
      background-position right 480px top 0
    .request
      display block


.modal
  width 90%
  max-width 720px
  min-width $site-min-width - 20px
  display table
  absolute 50% false false 50%
  transform translate(-50%, -50%)
  margin auto
  background-color $modal-background
  //background-image url("~/images/modal/background.png")
  //background-size 240px 170px
  background-position right 480px top 0
  background-repeat no-repeat
  .close-button
    absolute 20px 20px false false
    size 36px
    cursor pointer
    &:before
    &:after
      content ''
      display block
      background-color #1a66a9
      transform rotate(-45deg)
    &:before
      absolute 0 false false 16px
      size 3px 100%
    &:after
      absolute 16px false false 0
      size 100% 3px

.modal-content
  max-width 440px
  padding 50px 20px
  margin auto
  text-align center

  .callback
  .request
    display none
  .form
    font-size 0

  .button
    width 200px
  .input
    display block
    margin 0 auto 20px
    +media-query(all, min-width 550px)
      width 200px
      display inline-block
      vertical-align top
  .button
    line-height 40px

  .callback
    .form-wrap
      .button
        display block
        +media-query(all, min-width 550px)
          display inline-block
          vertical-align top
      .input
        width 200px
        +media-query(all, min-width 550px)
          margin-right 20px
          margin-bottom 0
      .button
        margin auto
        +media-query(all, min-width 550px)
          margin-left 20px
  .request
    .form-wrap
      .input-name
        +media-query(all, min-width 550px)
          margin-right 20px
      .input-phone
        +media-query(all, min-width 550px)
          margin-left 20px
      .message
        resize none

  .title
    margin-bottom 30px
    font-size 24px
    line-height 24px
    font-weight 700
    color $advantages-title-color
  .text
    margin-top 12px
    margin-bottom 25px
    font-size 14px
    line-height 16px
    color $advantages-text-color
