.process
  .content
    padding-top 77px
  .title
  .tabs
    line-height 40px
    font-size 30px
    font-weight 400
    text-align center
    color $title-color
  .tabs
    display block
    margin-bottom 45px
    font-size 0
    .tab
      display inline-block
      .text
        font-size 30px
        line-height 0
        border-bottom 3px dotted $dotted-color
        cursor pointer
        &.active
          color #0082d6
          border-bottom 0 none
          cursor default
    .delimiter
      display inline-block
      padding 0 5px
      font-size 30px
  .content-block
    font-size 0
    width 100%
    display table
    direction rtl
  .steps
  .tab-blocks
    size 50% 100%
    display table-cell
    vertical-align top
    direction ltr
    +media-query(all, max-width $site-tablet-width)
      display block
      margin auto
      max-width 465px
      width 90%
      margin auto
  .steps
    +media-query(all, max-width $site-tablet-width)
      height 480px
    +media-query(all, max-width 550px)
      height 790px
      margin-top 20px
      +media-query(all, max-width 360px)
        height 870px
    .step
      size 50% 240px
      display inline-block
      vertical-align top
      padding 20px
      box-sizing border-box
      +media-query(all, max-width 550px)
        size 100% 25%
        text-align center
      .number
        margin-bottom 6px
        font-size 33px
        color $step1-background-color
      .text
        font-size 18px
        line-height 22px
      .button
        margin-top 13px
        +media-query(all, max-width 550px)
          margin 13px auto 0
      &.step-1
        background-color $step1-background-color
        .number
          color $step2-background-color
      &.step-2
        background-color $step2-background-color
      &.step-3
        background-color $step3-background-color
      &.step-4
        background-color $step4-background-color
  .tab-blocks
    .tab-block
      font-size 15px
      line-height 20px
      background-color $step1-background-color
      &.hide
        display none
    .image
      padding 5px
      min-height 240px
      img
        width 100%
    .data
      min-height 220px
      padding 0 20px 10px
    .list-heading
    .list-post
      font-weight 700

    .list-heading
      margin-top 10px
      margin-bottom 5px
    .list-post
      margin-top 5px
    .list-item
      line-height 16px
      margin-bottom 4px
      &:before
        content '\2014\00a0'
        display inline