.temples
  relative false
  height 889px
  margin-bottom 140px
  padding-top 190px
  box-sizing border-box
  retina-image("/images/temples-background.jpg", 1440px 889px, '@2x')
  background-size cover
  background-position 50% 100%
  background-repeat no-repeat

  .text-block
    max-width 830px
    float right
    color $text-light-color
    .title
    .text
      padding-right 200px
    .text
      font-weight 800

  .years
    width 830px
    absolute false 0 0 false
    z-index 1
    padding 1.3rem 1.5rem
    box-sizing border-box
    transform translateY(50%)
    background-color $block-background-color
  .year
    padding 1.5rem
    &-title
      line-height 3rem
      font-size 3rem
      font-weight 800
    &-text
      line-height 1.5rem