html
body
  width 100%
  min-width $site-min-width
  min-height 100%
  box-sizing border-box

body
  relative false
  font-family 'Open Sans', sans-serif
  font-size 15px
  font-weight 300
  background-color $background-color
  animation fade-in 0.2s linear 0.3s forwards
  opacity 0

svg
  size 100%
  display block
  fill inherit
.svg-sprite
  width 0
  height 0
  overflow hidden


.content
  max-width $site-max-width
  margin auto

.block-padding
  padding-left $block-padding
  padding-right $block-padding
  box-sizing border-box
