html
body
  width 100%
  min-width $site-min-width
  min-height 100%
  box-sizing border-box
html
  +media-query(all, max-width 475px)
    font-size 80%
body
  relative false
  font-family 'Rubik', sans-serif
  color $text-dark-color
  font-size 1em
  line-height 1.5rem
  font-weight 400
  background-color $site-background-color

svg
  size 100%
  display block
  fill inherit
.svg-sprite
  width 0
  height 0
  overflow hidden


.content
  max-width $site-max-width
  margin auto

.block-padding
  padding-left $block-padding
  padding-right $block-padding
  box-sizing border-box


.heading
  line-height 2rem
  font-size 2rem
  font-weight 800
  margin-bottom 2rem
