html
body
  width 100%
  min-width $site-min-width
  min-height 100%
  box-sizing border-box

body
  relative false
  font-family 'Open Sans', sans-serif
  font-size 15px
  font-weight 300
  background-color $background-color
  animation fade-in 0.2s linear 0.3s forwards
  opacity 0

a
  text-decoration none
  &:link
  &:visited
  &:hove
  &:active
    color $link-color

input
textarea
  width 100%
  margin-bottom 20px
  padding 0 10px
  box-sizing border-box
  border-radius 5px
  line-height 38px
  font-size 18px
  font-weight 300
  font-family 'Open Sans', sans-serif
  text-align left
  color $header-text-color
  +placeholder()
    transition all 0.2s linear
    text-indent 0
    opacity 1
    font-weight 300
    color $header-text-color
  &.error
    border-color red
input
  &:focus
   +placeholder()
     text-indent 400px
textarea
  &:focus
    +placeholder()
      opacity 0

svg
  size 100%
  display block
  fill inherit
.svg-sprite
  width 0
  height 0
  overflow hidden


.content
  max-width $site-max-width
  margin auto

.block-padding
  padding-left $block-padding
  padding-right $block-padding
  box-sizing border-box

.logo
  display block
  size 200px 66px
  &.ru
    .ru
      display block
  &.uk
    .uk
      display block
  .ru
  .uk
    display none

a
button
input
textarea
  outline none

button
  padding 0
  background none
  border none
.button
  width 200px
  line-height 60px
  font-size 16px
  text-align center
  border-radius 5px
  background-color $button-secondary-color
  color $button-primary-color
  border 1px solid $button-primary-color
  cursor pointer
  transition all 0.2s linear
  &:hover
  &.hover
    background-color $button-primary-color
    color $button-secondary-color


.dropdown-button
  relative false
  cursor pointer
  padding-right 14px
  &:after
    content ''
    absolute 50% 0 0 false
    z-index 1
    display block
    margin-top -2px
    triangle(down, 5px, $menu-link-color)
  &:hover
    .dropdown
      display block

  .dropdown
    display none
    absolute 100% false false -5px
    padding 5px 5px 0
    background-color $nav-background-color
    border-radius 5px
    box-shadow 0 5px 5px 5px $nav-background-color

.icon-close
  size 100%
  border-radius 50%
  transform rotate(-45deg)
  fill $close-color

.form-block
  relative false
  .form-wrap
    opacity 1
    transition all 0.2s linear
  .form-sending
  .form-error
  .form-success
    absolute 50% false false 50%
    z-index -1
    transform translate(-50%, -50%)
    padding 20px
    opacity 0
    margin auto
    display none
    text-align center
    font-size 20px
    line-height 25px
    transition all 0.2s linear
    .button
      margin 20px auto
  &.sending
  &.error
  &.success
    .form-wrap
      opacity 0
      visibility hidden
  &.sending
    .form-sending
      display table
      z-index 1
      opacity 1
  &.error
    .form-error
      display table
      z-index 1
      opacity 1
  &.success
    .form-success
      display table
      z-index 1
      opacity 1

@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1