script(
  defer
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
)
script(
  defer
  src="/js/lib/input_mask/inputmask.min.js"
)
script(
  defer
  src="/js/lib/input_mask/jquery.inputmask.min.js"
)
script(
  defer
  src="/js/script.js"
)