!="<? require_once('./php/language.php'); ?>"
doctype html
html(
  itemscope
  itemtype="http://schema.org/AccountingService"
  data-language-lang="locales-locale"
  lang!="<?= $current_language ?>"
)
  head
    include ../assets/head.pug
    block head
  body
    include ../../images/svg-sprite
    block content
    block scripts
      include ../assets/scripts