extends pug/layout/layout
block append content
  include pug/blocks/menu
  include pug/blocks/header
  include pug/blocks/about
  include pug/blocks/services
  include pug/blocks/phone
  include pug/blocks/process
  include pug/blocks/faq
  include pug/blocks/contacts
  include pug/blocks/footer
  include pug/blocks/modals